.error {
  position: absolute;
  top: -100%;
  right: 50%;
  transform: translateX(50%);
  width: 150px;
  padding: .7rem;
  background-color: red;
  color: white;
  opacity: 0;
  transition: all .3s ease-in;
  &--active {
    opacity: 1;
    top: -20%;
  }  
}
